        html, body {
            height: 100%;
            overflow: hidden;
            background-color: #f8f9fa;
            margin: 0;
        }
        #app {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .table-hover tbody tr:hover { background-color: #e9ecef; }

        .tab-content-shadow > .tab-pane > .card {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: none;
        }
        .btn i {
            width: 1.2em;
        }